.sidebar {
  position: fixed; /* Fixed positioning to keep sidebar static */
  top: 0; /* Place the sidebar at the top of the viewport */
  left: 0; /* Ensure it's aligned to the left */
  width: 350px; /* Adjust width as per your design */
  height: 100%; /* Make it full height of the viewport */
  background-color: #160048; /* Example background color */
  padding: 20px; /* Padding for internal content */
  z-index: 100; /* Ensure sidebar is above other content */
  box-shadow: none; /* Remove any existing box shadow */
}

.sidebar {
  box-shadow: none;
  flex-direction: column;
  font-size: 20px;
}

.input-container {
  margin: 10px 0;
  width: 100%;
  text-align: center;
}

.input-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-container select {
  width: 80%;
  padding: 5px;
  font-size: 14px;
  text-align: center;
  display: block;
  margin: 0 auto; /* Center the dropdown */
}


.drug-table {
  width: 2000px;
  align-items: center
}

.drug-table th,
.drug-table td {
  padding: 100px;
  text-align: center;
}

.drug-table th:nth-child(2),
.drug-table th:nth-child(3),
.drug-table td:nth-child(2),
.drug-table td:nth-child(3) {
    width: 300px; /* Adjust the width of columns 2 and 3 (Yes/No and Dosage) */
}

.drug-table select {
    width: 130px; /* Adjust the width of the select elements */
}

.drug-table th:nth-child(1),
.drug-table td:nth-child(1) {
  width: 130px; 
}

.drug-table th:nth-child(1) {
  width: 300px
}
