.total-package-cost-page {
    margin: 0;
    padding: 10px; /* Adjust padding as needed */
}

.home-icon-container {
    margin-bottom: 10px; /* Adjust spacing between the home icon and other elements */
}

.outlined-heading {
    margin-bottom: 20px; /* Adjust spacing below the heading */
}

.rotated-table {
    margin-left: 10px; /* Adjust spacing from the left for rotated tables */
}

.chart-container {
    margin-bottom: 20px; /* Adjust spacing between chart containers */
}
.molecule-compare-table {
    margin-top: 10px; /* Adjust spacing above the molecule compare table */
    margin-bottom: 20px; /* Adjust spacing below the molecule compare table */
}

.simple-bar-chart {
    margin-top: 20px; /* Adjust spacing above the bar chart */
}
