.total-package-cost-page {
    margin: 0;
    padding: 10px; 
}

.home-icon-container {
    margin-bottom: 10px; 
}

.outlined-heading {
    margin-bottom: 20px; 
}

.rotated-table {
    margin-left: 10px; 
}

.chart-container {
    margin-bottom: 20px; 
}

.simple-bar-chart {
    margin-top: 20px; /* Adjust spacing above the bar chart */
}
