
.outlined-heading {
    font-size: 50px; /* Adjust size as needed */
    font-weight: bold;
    color: transparent; /* Make the text itself transparent */
    -webkit-text-stroke: 2px#151B54(0, 81, 255, 0.915); /* Outline thickness and dark blue color */
    text-transform: uppercase; /* Optional: Makes text uppercase */
    text-align: center; /* Centers the text within its container */
    
    background: linear-gradient(to right, #add8e6, #add8e6); /* Light blue fill color */
    background-clip: text; /* Standard property */
    -webkit-background-clip: text; /* WebKit specific property */
    -webkit-text-fill-color: #151B54; /* Light blue color for the text fill */
}

.total-package-cost-page {
    position: relative; /* Ensure the container is relative for absolute positioning */
}

.home-icon-container {
    position: absolute;
    top: 0px; /* Adjust top position as needed */
    right: 20px; /* Adjust right position as needed */
    cursor: pointer;
}

.home-icon {
    width: 100px; /* Adjust width and height of the icon as needed */
    height: 100px;
}

.total-package-cost-page {
    margin: 30px; /* Example margin, adjust as needed */
    padding: 30px; /* Example padding, adjust as needed */
    border: 2px solid #000; /* Default border style */

    /* Responsive adjustments using media queries */
    @media (max-width: 768px) {
        margin: 10px;
        padding: 15px;
        border-width: 1px;
    }

    @media (min-width: 1200px) {
        margin: 30px;
        padding: 30px;
        border-width: 3px;
    }
}
